In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/MyDrive/Favorita/'

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(path + 'train.csv')
subset = df.iloc[:100000]
subset.head()
# df.head()

<ipython-input-4-8ddcf7790e40>:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path + 'train.csv')

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN

In [ ]:
df.shape

(125497040, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   item_nbr     int64
 4   unit_sales   float64
 5   onpromotion  object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.6+ GB

In [ ]:
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')

In [ ]:
subset_2017 = df[df['date'].dt.year == 2017]
print(subset_2017)

                  id       date  store_nbr  item_nbr  unit_sales onpromotion
101688779  101688779 2017-01-01         25     99197         1.0       False
101688780  101688780 2017-01-01         25    103665         7.0       False
101688781  101688781 2017-01-01         25    105574         1.0       False
101688782  101688782 2017-01-01         25    105857         4.0       False
101688783  101688783 2017-01-01         25    106716         2.0       False
...              ...        ...        ...       ...         ...         ...
125497035  125497035 2017-08-15         54   2089339         4.0       False
125497036  125497036 2017-08-15         54   2106464         1.0        True
125497037  125497037 2017-08-15         54   2110456       192.0       False
125497038  125497038 2017-08-15         54   2113914       198.0        True
125497039  125497039 2017-08-15         54   2116416         2.0       False

[23808261 rows x 6 columns]

In [ ]:
stores = pd.read_csv(path + "stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [ ]:
quito_stores = stores.loc[stores['city'] == 'Quito','store_nbr']
print(quito_stores)

0      1
1      2
2      3
3      4
5      6
6      7
7      8
8      9
9     10
16    17
17    18
19    20
43    44
44    45
45    46
46    47
47    48
48    49
Name: store_nbr, dtype: int64

In [ ]:
filtered_subset = subset_2017[subset_2017['store_nbr'].isin(quito_stores)]
print(filtered_subset)

                  id       date  store_nbr  item_nbr  unit_sales onpromotion
101690472  101690472 2017-01-02          1    103520         1.0       False
101690473  101690473 2017-01-02          1    105575         3.0       False
101690474  101690474 2017-01-02          1    105577         1.0       False
101690475  101690475 2017-01-02          1    105737         1.0       False
101690476  101690476 2017-01-02          1    108079         2.0       False
...              ...        ...        ...       ...         ...         ...
125486923  125486923 2017-08-15         49   2122188         7.0       False
125486924  125486924 2017-08-15         49   2122676         2.0       False
125486925  125486925 2017-08-15         49   2122868         2.0       False
125486926  125486926 2017-08-15         49   2123727         1.0       False
125486927  125486927 2017-08-15         49   2124052         4.0       False

[9528118 rows x 6 columns]

In [ ]:
quito_subset = stores[stores['city'] == 'Quito']
print(quito_subset)

    store_nbr   city      state type  cluster
0           1  Quito  Pichincha    D       13
1           2  Quito  Pichincha    D       13
2           3  Quito  Pichincha    D        8
3           4  Quito  Pichincha    D        9
5           6  Quito  Pichincha    D       13
6           7  Quito  Pichincha    D        8
7           8  Quito  Pichincha    D        8
8           9  Quito  Pichincha    B        6
9          10  Quito  Pichincha    C       15
16         17  Quito  Pichincha    C       12
17         18  Quito  Pichincha    B       16
19         20  Quito  Pichincha    B        6
43         44  Quito  Pichincha    A        5
44         45  Quito  Pichincha    A       11
45         46  Quito  Pichincha    A       14
46         47  Quito  Pichincha    A       14
47         48  Quito  Pichincha    A       14
48         49  Quito  Pichincha    A       11

In [ ]:
quito_subset.to_csv(path + "quito_stores.csv",index=False)
filtered_subset.to_csv(path + "train_subset_filtered.csv",index=False)

In [ ]:
# weather.head()
weather['Date'] = pd.to_datetime(weather['Date'],format = '%Y-%m-%d')
weather_2015 = weather[weather['Date'].dt.year == 2015]
print(weather_2015['Avg Temperature (C)'].isna().sum())
print(weather_2015.shape)
weather_2015.to_csv(path + 'weather_2015.csv',index=False)

In [ ]:
# weather.head()
holidays['date'] = pd.to_datetime(holidays['date'],format = '%Y-%m-%d')
holidays_2015 = holidays[holidays['date'].dt.year == 2015]
# print(weathe_2015['Avg Temperature (C)'].isna().sum())
print(holidays_2015.shape)
holidays_2015.to_csv(path + 'holidays_2015.csv',index=False)

In [ ]:
# weather.head()
oil['date'] = pd.to_datetime(oil['date'],format = '%Y-%m-%d')
oil_2015 = oil[oil['date'].dt.year == 2015]
# print(oil_2015[''].isna().sum())
print(oil_2015.shape)
oil_2015.to_csv(path + 'oil_2015.csv',index=False)

In [ ]:
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')
subset_2015 = df[df['date'].dt.year == 2015]
quito_stores = stores.loc[stores['city'] == 'Quito','store_nbr']
filtered_subset = subset_2015[subset_2015['store_nbr'].isin(quito_stores)]
filtered_subset.to_csv(path + "train_subset_2015.csv",index=False)
filtered_subset.head()